<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2022
 * MIT License
 * Module AnassTouatiCoder_InstantConfigurationCopy
 * Author Anass TOUATI anass1touati@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <debug>
                <system_path_hint>1</system_path_hint>
                <system_field_value>1</system_field_value>
            </debug>
        </dev>
    </default>
</config>
