<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2022
 * MIT License
 * Module AnassTouatiCoder_InstantConfigurationCopy
 * Author Anass TOUATI anass1touati@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="anasstouaticoder_dev" translate="label" type="text" sortOrder="200" showInDefault="1"
                 showInWebsite="1" showInStore="1">
        <label>Dev</label>
        <tab>anass_Touati_coder</tab>
        <resource>AnassTouatiCoder_InstantConfigurationCopy::anasstouaticoder_instantconfigurationcopy</resource>
            <group id="system_config" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>System Configuration Debug</label>
                <field id="system_path_hint" translate="label,comment" type="select" sortOrder="100" showInDefault="1"
                showInWebsite="0" showInStore="0">
                    <label>Enable System Config Path Hints For Admin</label>
                    <comment><![CDATA[
                    Enable displaying system configuration paths and coping it to clipboard in admin area]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="system_field_value" translate="label,comment" type="select" sortOrder="120" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Enable System Config copy value For Admin</label>
                    <comment><![CDATA[
                    Enable copy system configuration value to clipboard in admin area
                    <br/><br/><strong style="color:green">Allowed Field Types</strong><p>Text, Textarea, Select and
                    Multiselect</p>]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="system_override_values" translate="label,comment" type="select" sortOrder="130"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable displaying overrode values for Admin</label>
                    <comment><![CDATA[
                    Enable displaying  overrode configuration value on a tooltip next to label in admin area
                    <br/><br/><strong style="color:green">Allowed Field Types</strong><p>Text, Textarea, Select and
                    Multiselect</p>]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
